<!doctype html>
<html ng-app="app" >
<head>
  <meta charset="utf-8">
  <title>AngularJS Credit Card Validation Example</title>
  <script>document.write('<base href="' + document.location + '" />');</script>
  <link rel="stylesheet" href="style.css">
  <script src="http://code.angularjs.org/1.1.4/angular.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="MainCtrl">
  <form novalidate name="paymentForm">
    <input
      type="text"
      name="creditCard"
      ng-model="ccinfo.number"
      required
      data-credit-card-type
      data-ng-pattern="/^[0-9]+$/"
      data-ng-minlength="15"
      maxlength="19"
      placeholder="Card Number" >{{ccinfo.type}}
    <br/>
    <ul ng-show="paymentForm.submitAttempt && !paymentForm.$valid">    
      <li ng-show="paymentForm.creditCard.$error.minlength">Credit card must be 15-19 digits</li>
      <li ng-show="paymentForm.creditCard.$error.pattern">Credit card must consist of only numbers</li>
      <li ng-show="paymentForm.creditCard.$error.invalid">Credit card must be a valid Amex, Visa, Discover, or Master Card</li>
      <li ng-show="paymentForm.creditCard.$error.required">Credit card required</li>
    </ul>
    <input
      type="text"
      name="securityCode"
      ng-model="ccinfo.securityCode"
      placeholder="CCV"
      required
      data-ng-pattern="/^[0-9]+$/"
      data-ng-minlength="3"
      maxlength="4">
    <br/>
    <ul ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
      <li ng-show="paymentForm.securityCode.$error.pattern">Security code must contain only numbers</li>
      <li ng-show="paymentForm.securityCode.$error.minlength">Security code must be 3-4 digits</li>
      <li ng-show="paymentForm.securityCode.$error.required">Security code required</li>
    </ul>
   
   
    <button ng-click="paymentForm.submitAttempt=true;save(ccinfo)" type="submit">Submit</button>
</body>
</html>